/* WHY */
body {
  overflow-x: hidden;
}
button {
  box-sizing: border-box;
}
canvas {
  border: 2px solid black;
}

/* WHY */
#grid {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  height: 96vh;
  width: 99vw;
}

/* WHY */
svg {
  display: block;
  margin: auto;
  width: 80%;
}

.grid-row {
  vertical-align: top;
  line-height: 1;
}
.node {
  border: 1px solid rgba(39, 69, 205, 0.833);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.node-wall {
  background-color: #1e2431;
  border: 0;
  animation-name: wall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.node-wall-hover {
  background-color: #1e2431;
  border: 0;
}

@keyframes wall {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}
@keyframes passage {
  0% {
    background-color: #1e2431;
    transform: scale(1);
    border: 0;
  }

  50% {
    transform: scale(0.3);
    border: 0;
  }
  100% {
    transform: scale(1);
    border: 1px solid rgba(39, 69, 205, 0.833);
  }
}
.node-passage {
  animation-name: passage;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.node-start {
  text-align: center;
  background-color: green;
  animation-name: wall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  border: 3px solid black !important;
}
.node-end {
  text-align: center;
  background-color: #920159;
  animation-name: wall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  border: 3px solid black !important;
}

@keyframes check {
  0% {
    transform: scale(0.3) rotate(30);
    background-color: rgba(17, 104, 217, 0.75);
    opacity: 0.75;
    border: 0;
  }

  25% {
    transform: rotate(60);
    opacity: 0.9;
  }

  50% {
    opacity: 1;
    transform: scale(1.2) rotate(180);
    background-color: rgba(39, 69, 205, 0.833);
    transform: rotate(90);
  }

  75% {
    background-color: rgba(17, 104, 217, 0.75);
    border: 0;
  }

  100% {
    transform: scale(1) rotate(360);
    border: 0;
    background-color: rgba(39, 69, 205, 0.833);
  }
}

@keyframes check-backward {
  0% {
    transform: scale(0.3) rotate(30);
    background-color: #05ac72;
    opacity: 0.75;
    border: 0;
  }

  25% {
    transform: rotate(60);
    opacity: 0.9;
  }

  50% {
    opacity: 1;
    transform: scale(1.2) rotate(180);
    background-color: #13eba2;
    transform: rotate(90);
  }

  75% {
    background-color: #05ac72;
    border: 0;
  }

  100% {
    transform: scale(1) rotate(360);
    border: 0;
    background-color: #13eba2;
  }
}
.node-check {
  background-color: rgba(39, 69, 205, 0.833);
  border: 1px solid rgba(207, 221, 239, 0.65);
  animation: check 1s ease-in-out 0s, pulse 1s ease-in-out 14s 3;
}

.node-check-backward {
  background-color: #13eba2;
  border: 1px solid rgba(207, 221, 239, 0.65);
  animation: check-backward 1s ease-in-out 0s,
    pulse-backward 1s ease-in-out 14s 3;
}

.node-check-rt {
  background-color: rgba(39, 69, 205, 0.833);
  border: 1px solid rgba(207, 221, 239, 0.65);
}
.node-check-rt-backward {
  background-color: #13eba2;
  border: 1px solid rgba(207, 221, 239, 0.65);
}
.node-backtrack {
  animation-name: backtrack;
  border: 1px solid rgba(207, 221, 239, 0.65);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes backtrack {
  0% {
    background-color: #3337e1;
  }

  75% {
    background-color: #1d1f9b;
  }
  100% {
    background-color: #1b1c71;
  }
}
@keyframes fadein {
  from {
    transform: scale(1);
    background-color: purple;
    opacity: 1;
    border-radius: 100%;
    border: 0;
  }
  to {
    transform: scale(0.4);
    background-color: rgba(17, 104, 217, 0.75);
    opacity: 0.75;
    border-radius: 100%;
  }
}

@keyframes fadein-backward {
  from {
    transform: scale(1);
    background-color: purple;
    opacity: 1;
    border-radius: 100%;
    border: 0;
  }
  to {
    transform: scale(0.4);
    background-color: #05ac72;
    opacity: 0.75;
    border-radius: 100%;
  }
}
@keyframes pulse {
  0% {
    background-color: rgba(39, 69, 205, 0.833);
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  100% {
    background-color: rgba(39, 69, 205, 0.833);
  }
}

@keyframes pulse-backward {
  0% {
    background-color: #13eba2;
  }
  50% {
    background-color: #05ac72;
  }
  100% {
    background-color: #13eba2;
  }
}

.node-current {
  border: 1px solid rgba(207, 221, 239, 0.65);
  background-color: rgba(17, 104, 217, 1);
  animation-name: fadein;
  opacity: 0.75;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}
.node-current-backward {
  border: 1px solid rgba(207, 221, 239, 0.65);
  background-color: #05ac72;
  animation-name: fadein-backward;
  opacity: 0.75;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.node-path {
  background-color: purple;
  animation: wall 0.3s ease-in-out 0s, path-pulse 1s ease-in-out 10s 10;
  border: 0;
}
.node-path-rt {
  background-color: purple;
  border: 0;
}

@keyframes path-pulse {
  0% {
    background-color: purple;
  }
  50% {
    background-color: #eba400;
  }
  100% {
    background-color: purple;
  }
}
.node-intersection {
  background-color: #eba400 !important;
}

.node-child {
  background-color: purple;
}

.node-strong-1 {
  border-width: 2px;
  border-style: solid;
  border-color: #1e2431;
}
.node-strong-2 {
  border-width: 3px;
  border-style: solid;
  border-color: #1e2431;
}
.node-strong-3 {
  border-width: 4px;
  border-style: solid;
  border-color: #1e2431;
}
.node-strong-4 {
  border-width: 5px;
  border-style: solid;
  border-color: #1e2431;
}
@media screen and (max-width: 1800px) {
  body {
    margin: 0;
  }
}

#mynetwork {
  width: 99vw;
  height: 100vh;
  border: 2px solid black;
  margin: 4px;
}

#result {
  text-align: center;
  font-size: 2em;
  color: #262626;
}

#grid-helper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.4rem;
  padding-top: 0.2rem;
}

#visited-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#start-node {
  width: 32px;
  height: 32px;
  background-color: green;
}

#end-node {
  width: 32px;
  height: 32px;
  background-color: #920159;
}

#wall-node {
  width: 32px;
  height: 32px;
  background-color: #1e2431;
  box-sizing: border-box;
}

.justify-node {
  position: relative;
  top: 0.4rem;
  margin-bottom: 0.7rem;
}

#weight-node {
  width: 32px;
  height: 32px;
  border-width: 3px;
  border-style: solid;
  border-color: #1e2431;
}

#unvisited-node {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(39, 69, 205, 0.833);
}

#current-node {
  width: 32px;
  height: 32px;
  background-color: purple;
  border-radius: 100%;
}
#visited-node-forward {
  width: 32px;
  height: 32px;
  background-color: rgba(39, 69, 205, 0.833);
}
#visited-node-backward {
  width: 32px;
  height: 32px;
  background-color: #04b75a;
}

#visited-node-backtrack {
  width: 32px;
  height: 32px;
  background-color: #3337e1;
}
.helper-node-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#canvas-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}
#mst-helper {
  text-align: center;
}
#network-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}
#topological-helper {
  text-align: center;
}

.nav-tabs .nav-link {
  color: #e8e7d5 !important;
  background-color: #334747 !important;
  border-bottom-width: 5px !important;
}
.nav-link:hover {
  color: #262727 !important;
  background-color: #4db33d !important;
}

.nav-link.active {
  color: #262727 !important;
  background-color: #4db33d !important;
  border-color: #3fa037 !important;
}

.bgc-1 {
  background-color: #001e2b !important;
}

#grid-helper {
  background-color: white;
}
#grid-container {
  background-color: white;
}

/* boostrap button color change */
.btn-outline-primary {
  color: #00584a !important;
  border-color: #00584a !important;
}
.btn-outline-primary:hover {
  color: #e8e7d5 !important;
  background-color: #00584a !important;
}
.btn-outline-danger {
  color: #00ed64 !important;
  border-color: #00ed64 !important;
}
.btn-outline-danger:hover {
  color: #e8e7d5 !important;
  background-color: #00ed64 !important;
}
.btn-outline-warning {
  color: #005880 !important;
  border-color: #005880 !important;
}
.btn-outline-warning:hover {
  color: #fff !important;
  background-color: #005880 !important;
}

.node-size-text {
  color: #005880 !important;
}
